.title {
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-image:url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.line1{
  width: 50%;
  height: 2px;
  background-color: #349FD9;
  margin: 0px auto;
}

.line2{
  width: 50%;
  height: 2px;
  background-color: #349FD9;
  margin: 10px auto;
}



.app-bg {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
}
